<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/style_footer.css">
</head>

<body>
  <br>
  <footer class="footer container-fluid text-center">
    <p>Copyright © 2020. Powered by NTA</p>
  </footer>
</body>

</html>