<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cellphone World</title>
    <link rel="stylesheet" type="text/css" href="css/style_index.css">
</head>
<body>
    {{> header}}

    {{> footer}}
</body>
</html>